/* Stylesheet by Joe Marks, 2019 */
#map {
    height: 800px;
    width: 100%;
    display: inline-block;
}

#panel {
    width: 26%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
}

.sequence-control-container {
    width: 350px;
    height: 100px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
}

.legend-control-container {
    width: 200px;
    height: 100px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
}

#yearSlider {
    width: 100%;
    padding: 0px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
}

.range-slider {
    width: 50%;
}

#forward {
    float: right;
}

#reverse {
    float: left;
}

#lowerLimitPanel {
    width: 26%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
}

#lowerLimitSlider {
    width: 100%;
    padding: 0px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
}

.lowerLimit-slider {
    width: 50%;
}

#upperLimitPanel {
    width: 26%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
}

#upperLimitSlider {
    width: 100%;
    padding: 0px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
}

.upperLimit-slider {
    width: 50%;
}

.leaflet-popup-content p{
    margin: 0.2em 0;
}