/* Stylesheet by Joe Marks, 2019 */

html {
    height: 100%
}

body {
    height: 100%
}

#map {
    height: 100%;
    width: 100%;
    display: inline-block;
}


/* Defines a horzontal center for leaflet controls */ 
.leaflet-center {
    left: 50%;
    transform: translateX(-50%);
}

/* Defines style for title container */ 
.title-container {
    width: 340px;
    height: 30px;
    background-color: rgba(255,255,255,0.8);
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    text-align: center;
    border: solid gray 1px;
}

/* Defines style for sequence control container */ 
.sequence-control-container {
    width: 300px;
    height: 115px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 20px;
    text-align: center;
    border: solid gray 1px;
}

/* Defines style for dynamic legend */ 
.legend-control-container {
    width: 175px;
    height: 90px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 30px;
    text-align: center;
    border: solid gray 1px;
}

#yearTitle {
    width: 100%;
    padding: 0px 25%;
    text-align: center;
    
}

#sequenceControls {
    width: 100%
}

.range-slider {
    width: 60%;
}

#forward {
    float: right;
}

#reverse {
    float: left;
}

#filterTitle {
    width: 100%;
    padding: 0% 0%;
    text-align: center;
    
}

#lowerLimitLabel{
    float: left;
}

#upperLimitLabel{
    float: right;
}

#filterControls {
    width: 100%;
}

#lowerLimit-display {
    float: left
}

.lowerLimit-slider {
    width: 25%;
}


.upperLimit-slider {
    width: 25%;
}

#upperLimit-display {
    float: right
}

.leaflet-popup-content p{
    margin: 0.2em 0;
}