/* Stylesheet by Joe Marks, 2019 */
#map {
    height: 800px;
    width: 100%;
    display: inline-block;
}

#panel {
    width: 26%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
}

.sequence-control-container {
    width: 350px;
    height: 175px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
}

.legend-control-container {
    width: 200px;
    height: 100px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
}

#yearTitle {
    width: 100%;
    padding: 0px 25%;
    text-align: center;
    
}

#sequenceControls {
    width: 100%
}

.range-slider {
    width: 75%;
}

#forward {
    float: right;
}

#reverse {
    float: left;
}

#filterTitle {
    width: 100%;
    padding: 0% 0%;
    text-align: center;
    
}

#filterControls {
    width: 100%;
}

#lowerLimit-display {
    float: left
}

.lowerLimit-slider {
    width: 30%;
}


.upperLimit-slider {
    width: 30%;
}

#upperLimit-display {
    float: right
}

.leaflet-popup-content p{
    margin: 0.2em 0;
}